fastapi
uvicorn
torch
torchvision
opencv-python
pillow
numpy<2
python-multipart
rich
requests
colorama

torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
